@page
@model Project_Ghiriti_Edmond.Pages.Assignments.IndexModel

@{
    ViewData["Title"] = "Assignments";
}

<h1>Assignments</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].AssignmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Assignment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AssignmentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AssignmentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AssignmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
